html {
  background-color: black;
  font-family: sans-serif;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#capturingDiv {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #565656;
  padding: 8px 16px;
  border-radius: 99px;
}